*{
    margin:0;
    padding:0;
}
span.blue,h3{
    color: #00A5EC;
}
h1{
    padding:15px 0px 15px 35px;

    background-color: #ffffff;
    box-shadow: 0px 6px 10px rgb(163, 152, 152);
}


body{
    background-color: #F7F7F7;
}
hr{
    width: 100%;
   height:1px;
   background-color: rgb(224, 220, 220);
}

.cards:hover{
    box-shadow: 0px 0px 10px rgb(181, 176, 176);
}
.cards>form{
    padding: 15px 0px 15px 20px;
    color:#afa1a1;
}
.cards>h3{
    padding: 15px 0px 15px 20px;
}
form{
    line-height: 30px;
}
.addnewtask{
    float: right;
    position: relative;
    right: 50px;
    padding: 10px;
    top: 15px;
}
.plus{
    position: absolute;
    top:12px;
    left:-15px;
}

.card-container{
    display: flex;
    flex-wrap: wrap;
justify-content:flex-start;
padding:10px 5%;
}
.cards{
    box-sizing: border-box;
    width:30%;
    height: 300px;
    padding:40px;
    border-radius: 14px;
margin:10px 15px;    
    background-color: #e3e3e3;
    cursor: pointer;
    

}
@media screen and (max-width: 420px){
.card-container {
    flex-direction: column;
     }
 .cards{
    width: 90%;
 }
 .textaddnewtask{
   visibility: hidden;
}

}
@media screen and (min-width: 421px) and (max-width:1020px){
   
     .cards{
        width: 45%;
        height: 300px;
    
        border-radius: 14px;
    margin:10px 15px;    
        background-color: #e3e3e3;
        cursor: pointer;
     }
   
        
        
   
    }
